.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: none;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    transition: background-color 0.3s;
}
.sidebar-item-text{
    width: 4rem;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}
.sidebar-item-icon{
    width:2.5rem;
    margin: 0;
    background-color: var(--blue);
    transition: background-color 0.3s;
}
.sidebar-item i{
    /* transition: background-color 0.3s; */
}
.sidebar-item:hover{
    cursor: pointer;
    background-color: var(--dark-grey);
}
.sidebar-item:hover .sidebar-item-text{
    background-color: var(--dark-grey);
    color: var(--light-grey);
}
.sidebar-item:hover i{
    /* background-color: var(--dark-grey); */
    color: var(--light-grey);
}
.sidebar-item:hover .sidebar-item-icon{
    background-color: var(--dark-grey);
    color: var(--light-grey);
}