.navbar-item-container{
    color: var(--light-grey);
    background-color: none;
    list-style: none;
    background: none;
    font-size: 1.5rem;
    margin: 1rem 0;
    height: 2rem;
}
.navbar-item-container > a:hover{
    cursor: pointer;
    color: var(--blue);
}
.navbar-link{
    text-decoration: none;
    color: var(--light-grey);
}