.bars-icon-button{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    line-height: 0;
    border: none;
}
.bars-icon-button:hover{
    cursor: pointer;
}
#bars-icon{
    color: var(--black);
    background-color: transparent;
    list-style: none;
    background: none;
    font-size: 2rem;
    line-height: 0;
}
.times-icon-button{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    line-height: 0;
    border: none;
}
.times-icon-button:hover{
    cursor: pointer;
}
#times-icon{
    color: var(--black);
    background-color: transparent;
    list-style: none;
    background: none;
    font-size: 2rem;
    line-height: 0;
}