.portfolio-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    height: 10rem;
    width: 75%;
}
.portfolio-card-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.demo-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 5rem;
    background-color: var(--blue);
    border-radius: 10px;
    padding: .5rem;
    font-weight:bolder;
    text-decoration: none;
}
.demo-button-text{
    margin-right: .5rem;
}