.app-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 90%;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main-text-container{
    width: 100%;
}
.main-text{
    font-size: var(--title);
    color: var(--black);
    width: 25ch;
}
.main-text-subheader{
    width: 35ch;
    color: var(--black);
    font-weight: lighter;
    font-size: var(--subtitle);
}
.main-text-paragraph{
    font-size: var(--paragraph);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}