.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
}
.main-text-container{
    width: 100%;
}
.main-text{
    font-size: var(--title);
    color: var(--black);
    width: 25ch;
}
.main-text-subheader{
    width: 35ch;
    color: var(--black);
    font-weight: lighter;
}
