.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.skills-dropdowns-container{
    display: flex;
    gap: 5rem;
}
.skills-title{
    font-size: var(--title)
}
.skill-container{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.skill-level-container{
    position: relative;
    height: 1rem;
    width: 35vw;
    background-color: var(--light-grey);
    border: 0.1rem solid var(--dark-grey);
    border-radius: 10px;
}
.skill-level{
    position: absolute;
    height: 1rem;
    width: 35vw;
    background-color: var(--blue);
    border-radius: 10px;
}
.seventy{
    width: calc(.70 * 35vw);
}
.fifty{
    width: calc(.50 * 35vw);
}
.skill-title{
    font-size: 1rem;
}