.mobile-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.1rem;
    position: absolute;
    bottom: 4.5rem;
    background-color: var(--blue);
    border-radius:10px;
    width: 90vw;
}
.mobile-menu-row{
    width: 100%;
}
.mobile-footer{
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    width: 100%;
}
.hidden{
    display: none;
}