.services-info-wrapper{
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 40vw;
}
.services-modal-list-item{
    list-style:circle;
    margin-bottom: 1rem;
}
.services-info-title{
    margin-bottom: 1rem;
    /* margin-left: -1rem; */
}