.dropdown-container{
    height: 10rem;
    width: 90%;
    margin-bottom: 1rem;
}
.dropdown-title-container{
    max-width: 100%;
    display: flex;
    align-items: center;
}
.dropdown-title-icon{
    width: 2rem;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.dropdown-text{
    width: 90%;
    margin-right: 1rem;
}
.fa-caret-down{
    font-size: 1.5rem;
}
.fa-caret-down:hover{
    cursor: pointer;
}
.fa-caret-up{
    font-size: 1.5rem;
}
.fa-caret-up:hover{
    cursor: pointer;
}