.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    max-width: 100%;
    z-index: 1;
}
.navbar-item{
    list-style: none;
    background: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0 1rem 1rem 1rem;
}
.fa-bars{
    background: none;
    transition: color 0.3s ease-in-out;
}
.fa-bars:hover{
    cursor: pointer;
}
.navbar-item-wrapper{
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}