.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--dark-grey);
}
.navbar-name{
 font-weight: bolder;   
}
.sidebar-container{
    display: none;
}
.mobile-menu-container{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .sidebar-container{
        display:flex;
        width: 100%;
        justify-content: center;
    }
    .navbar{
        display: none;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 25vh;
    }
    .main-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-text{
        font-size:1.5rem;
        width: 100%;
    }
    .main-text-subheader{
        font-size: 1rem;
        font-weight: lighter;
    }
    .portrait-container{
        margin-top: 1rem;
    }
    .portrait{
        width: 7.5rem;
        height: 7.5rem;
    }
    .first{
        width: 8rem;
        height: 8rem;
    }
    .second{
        width: 8.5rem;
        height: 8.5rem;
    }
    .third{
        width: 9rem;
        height: 9rem;
    }
}