.navbar-wrapper{
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: var(--dark-grey);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.navbar-name{
 font-weight: bolder;   
}
.sidebar-container{
    display: none;
    position: fixed;
    bottom: 0;
}
.mobile-menu-container{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .main-wrapper{
        height: 100vh;
    }
    .sidebar-container{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .navbar-wrapper{
        display: none;
    }
    .main-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .main-text-container{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        margin-top: 1rem;
    }
    .main-text{
        display: flex;
        /* justify-content: center; */
        font-size:var(--mobile-title);
        width: 100%;
    }
    .main-text-subheader{
        display: flex;
        /* justify-content: center; */
        width: 100%;
        font-size: var(--mobile-subtitle);
        font-weight: lighter;
    }
    .skills-dropdowns-container{
        flex-direction: column;
    }
}