.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}
.navbar-item{
    list-style: none;
    background: none;
    font-size: 2rem;
    margin: 0 1rem 1rem 1rem;
}
.fa-bars{
    background: none;
}
.fa-bars:hover{
    cursor: pointer;
}
.navbar-item-wrapper{
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}
.sidebar{
    border: 1px solid rgb(177, 177, 255);
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius:10px;
    height: 70vh;
    top:3rem;
    width:15rem;
    margin: 0 1rem 1rem 1rem;
}
.hidden{
    display: none;
}