.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--dark-grey);
}
.navbar-name{
 font-weight: bolder;   
}
.mobile-menu{
    border: 1px solid red;
}
.sidebar-container{
    display: none;
}
.mobile-menu-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen and (max-width: 425px) {
    .sidebar-container{
        display:block;
    }
}