.portrait{
    position: relative;
    z-index: 3;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: cover;
}
.portrait-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}
.portrait-container{
    position: relative;
}
.circle{
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.first{
    z-index: 2;
    top: -.25rem;
    left: -.25rem;
    width: 18.5rem;
    height: 18.5rem;
    background-color: var(--dark-grey);
}
.second{
    z-index: 1;
    top: -.5rem;
    left: -.5rem;
    width: 19rem;
    height: 19rem;
    background-color: var(--blue);

}
.third{
    z-index: 0;
    top: -.75rem;
    left: -.75rem;
    width: 19.5rem;
    height: 19.5rem;
    background-color: var(--black);
}
@media screen and (min-width:425px) {
    .portrait-container{
        margin: 1rem;
    }
    .portrait{
        width: 13rem;
        height: 13rem;
    }
    .first{
        width: 13.5rem;
        height: 13.5rem;
    }
    .second{
        width: 14rem;
        height: 14rem;
    }
    .third{
        width: 14.5rem;
        height: 14.5rem;
    }
}
@media screen and (min-width:769px){
    .mobile-portrait-wrapper{
        display: none;
    }
}
@media screen and (max-width:768px){
    .regular-portrait-wrapper{
        display: none;
    }
    .mobile-portrait-wrapper{
        display:flex;
        width: 100%;
        margin-bottom: 3rem;
    }
    .portrait-container{
        margin: 1rem;
    }
    .portrait{
        width: 15rem;
        height: 15rem;
    }
    .first{
        width: 15.5rem;
        height: 15.5rem;
    }
    .second{
        width: 16rem;
        height: 16rem;
    }
    .third{
        width: 16.5rem;
        height: 16.5rem;
    }
}