.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    gap:.1rem;
    position: absolute;
    top: 4.5rem;
    background-color: var(--blue);
    border-radius:10px;
    z-index: 4;
    width: 10rem;
}
.hidden{
    display: none;
}