.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    padding: 1rem;
    gap:.1rem;
    position: absolute;
    top: 4.5rem;
    left: 0;
    background-color: var(--blue);
    border-radius:10px;
    z-index: 1;
}
.hidden{
    display: none;
}