.sidebar{
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius:10px;
    top:0;
    margin-top: 1rem;
}
.hidden{
    display: none;
}
.sidebar-items-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    padding: 1rem;
    gap:.1rem;
    width: 100%;
    border-radius:10px;
}