.about-me-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.about-me-title{
    font-size: var(--title);
    color:var(--black);
}
.about-me-subtitle{
    font-size: var(--subtitle);
    color:var(--black);
    font-weight: lighter;
}
.about-me-image{
    height: 10em;
    width: 15rem;
    object-fit: cover;
    border-radius: 10px;
}
.about-me-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.about-me-content-wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-me-paragraph-experience{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.about-me-paragraph{
    text-align: center;
}
.about-me-experience{
    display: flex;
    width: 100%;
}
.experience-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.experience-description{
    text-align: center;
    display: block;
    width: 10ch;
}
.about-me-button > a{
    text-decoration: none;
}