:root{
    --black: rgb(34, 40, 49);
    --dark-grey: rgb(57, 62, 70);
    --blue: rgb(0, 173, 181);
    --light-blue: rgba(0, 172, 181, 0.325);
    --light-grey: rgb(238, 238, 238);
    --title: 3rem;
    --mobile-title: 2.5rem;
    --subtitle: 1.5rem;
    --mobile-subtitle: 1.5rem;
    --paragraph:1.25rem;
    --mobile-paragraph:0.75rem;
    --button-border-radius:10px;
    --button-padding:1.5rem;
}
*{
    color: var(--black);
    margin:0;
    padding:0;
}
body{
    background-color: var(--light-grey);
}