:root{
    --black: rgb(34, 40, 49);
    --dark-grey: rgb(57, 62, 70);
    --blue: rgb(0, 173, 181);
    --light-grey: rgb(238, 238, 238);
    --title: 3rem;
}
*{
    color: var(--black);
    margin:0;
    padding:0;
}
body{
    background-color: var(--light-grey);
}