.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: none;
    width: calc(100% - 1rem);
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}
.sidebar-item-text{
    background-color: var(--blue);
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}
.sidebar-item-icon{
    width:2.5rem;
    background-color: var(--blue);
    margin: 0;
    transition: background-color 0.3s;
}
.sidebar-item:hover{
    cursor: pointer;
    background-color: var(--dark-grey);
}
.sidebar-item:hover .sidebar-item-text{
    background-color: var(--dark-grey);
    color: var(--light-grey);
}
.sidebar-item:hover i{
    background-color: var(--dark-grey);
    color: var(--light-grey);
}